body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #fbfdff;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper {
  /* background: #ccc; */
  min-width: 40%;
  padding: 2rem;
}
.pay_heading {
  font-weight: bold;
  font-size: 22px;
  color: #01007e;
  margin-left: 0.5rem;
}
.back_button {
  cursor: pointer;
}

.head_row {
  display: flex;
  padding: 20px 0;
  flex-direction: column;
  padding: 6px;
 
}

.avatar {
  vertical-align: middle;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.head_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
 
}
.head_item p {
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.card {
	border-radius: 8px;
	color: white;
	padding: 10px;
	position: relative;
  margin-bottom: 20px;

	.zmdi {
		color: white;
		font-size: 28px;
		opacity: 0.3;
		position: absolute;
		right: 13px;
		top: 13px;
	}
	
	.stat {
		border-top: 1px solid rgba(255, 255, 255, 0.3);
		font-size: 8px;
		margin-top: 25px;
		padding: 10px 10px 0;
		text-transform: uppercase;
	}
	
	.title {
		display: inline-block;
		font-size: 10px;
		padding: 10px 10px 0;
		text-transform: uppercase;
	}
	
	.value {
		font-size: 36px;
		padding: 0 10px;
	}
	
	&.blue {
		background-color: #2298F1;
	}
	
}
.earning_item_2{
  margin-left: auto;
}
.fa-regular{
  color: #fff;
}
.buttons_section {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.btn {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 18px;
  width: 100%;
}
.menu{
  display: flex;
  flex-direction: column;
}
.c-dashboardInfo {
  margin-bottom: 15px;
  display: flex;
	gap: 15px;
  justify-content: space-between;
}
.c-dashboardInfo .wrap {
  
  box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 200px;

  padding: 40px 25px 20px;
  height: 100%;
}
.wrap img{
  width: 100px;
  height: 100px;
}
.wrap-1{
  background: #e9d6ff;
}
.wrap-2{
  background: #fed9d1;
}
.wrap-3{
  background: #d9eefe;
}
.wrap-4{
  background: #ffe288;
}
.c-dashboardInfo span {
  display: block;
}
.c-dashboardInfo__count {
  font-weight: 600;
  font-size: 1.5em;
  line-height: 64px;
  color: #323c43;
  font-family:Arial, Helvetica, sans-serif;
}

@media only screen and (max-width: 600px){
  .article-card{
    width: 153px;
    height: 163px;
  }
}
